includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - vendor/symplify/phpstan-rules/config/symfony-rules.neon
parameters:
    level: max
    paths:
        - src
        - tests
