name: "ci"

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:

jobs:
  coding-standards:
    name: "CI"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        php:
          - "8.4"
        dependency-versions:
          - "lowest"
          - "highest"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"

      - name: "Set up PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php }}"
          ini-values: "memory_limit=-1"
          tools: "composer:v2, cs2pr"
          extensions: "intl, json"

      - name: "Install composer dependencies"
        uses: "ramsey/composer-install@v2"
        with:
          dependency-versions: "${{ matrix.dependency-versions }}"

      - name: "PHP CS Fixer"
        run: "vendor/bin/php-cs-fixer fix --diff --dry-run"

      - name: "PHPStan"
        run: "vendor/bin/phpstan analyse --error-format=github"

      - name: "Rector"
        run: "vendor/bin/rector process --dry-run"

      - name: "PHPUnit"
        run: "vendor/bin/phpunit --coverage-clover var/clover.xml"

      - name: "Coveralls Parallel"
        uses: "coverallsapp/github-action@v2"
        with:
          flag-name: "run-${{ join(matrix.*, '-') }}"
          parallel: true
          file: "var/clover.xml"

  finish:
    needs: "coding-standards"
    runs-on: "ubuntu-latest"
    steps:
    - name: "Coveralls Finished"
      uses: "coverallsapp/github-action@v2"
      with:
        parallel-finished: true
